header {
  background-image: url(../../images/hero-home-page.webp);
  background-size: cover;
  width: 100%;

  @media screen and (min-width: 1440px){
    height: 800px;
  }

  >div{
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.6);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 100%;

    p{
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1rem;
      @media screen and (min-width: 768px){
        font-size: 1.3rem;
      }
      @media screen and (min-width: 1024px){
        font-size: 1.8rem;
      }
      @media screen and (min-width: 1440px){
        font-size: 2.5rem;
      }
    }
    div {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      position: relative;
      width: 100%;
      @media screen and (min-width: 768px){
        width: 80%;
      }

      input {
        border: 1px solid #000;
        font-size: 1rem;
        padding: 10px 20px 10px 10px;
        width: 100%;

        @media screen and (min-width: 768px){
          font-size: 1.3rem;
        }
        @media screen and (min-width: 1024px){
          font-size: 1.8rem;
        }
        @media screen and (min-width: 1440px){
          font-size: 2.5rem;
        }
      }

      button {
        border: none;
        position: absolute;
        right: 10px;
        font-size: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;

        @media screen and (min-width: 768px){
          font-size: 1.7rem;
        }
        @media screen and (min-width: 1024px){
          font-size: 1.8rem;
        }
        @media screen and (min-width: 1440px){
          font-size: 2.5rem;
        }

        i {
          cursor: pointer;
        }
      }

    }
  }
}